body {
    background-color: #511281;
  }
  #ohlord {
  border : 10px solid #21094E;
  }
  h1 {
    color: white;
    border: 5px dotted #511281;
    border-width: 10px;
  }
  p {
    color: #4CA1A3;
    padding: 60px;

  }
  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  a {
      color: #4CA1A3;
      padding-left: 100px;
  }